$primary:#1e5aaf;
$secondary:#FDFDFD;
$gray:#797A84;
$lightGray:#8C8D98;
$black:#252627;
$blue:#0F3974;
$darkBlue: #051A2C;
$lightBlue: #2864B9;
$slideSubtitle: #557EB8;
$slideBody: #9FB7DB;
$transition:  all .4s ease-in-out;